modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "FULLSTACK_JS"

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SERVER_PORT = "3000"
JWT_SECRET = "4dc809c2c8cda1fa14897d9e6a3c2a32ff20812f47e7286a3c6857d13472d9a94b281e5e286370188848c3ba8d5541804c85cb324670e524b1bdf787cb237c7d"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5002
externalPort = 3003

[[ports]]
localPort = 5003
externalPort = 4200

[[ports]]
localPort = 5004
externalPort = 5000

[[ports]]
localPort = 5005
externalPort = 5173

[[ports]]
localPort = 5006
externalPort = 6000

[[ports]]
localPort = 5007
externalPort = 6800

[[ports]]
localPort = 5008
externalPort = 8000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
