modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SERVER_PORT = "3000"
JWT_SECRET = "proposalforge-jwt-k9x2mQvL8pNwR4hT7jYcZ3eFbA6dUs1X"
GROQ_API_KEY = "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"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
